<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRequestController</servlet-name>
        <servlet-class>Controller.SearchRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRequestController</servlet-name>
        <servlet-class>Controller.AddRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyGmailController</servlet-name>
        <servlet-class>Controller.VerifyGmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAccountController</servlet-name>
        <servlet-class>Controller.VerifyAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetHistoryController</servlet-name>
        <servlet-class>Controller.GetHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRequestController</servlet-name>
        <servlet-class>Controller.EditRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRequestController</servlet-name>
        <servlet-class>Controller.DeleteRequestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRequestController</servlet-name>
        <url-pattern>/SearchRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRequestController</servlet-name>
        <url-pattern>/AddRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyGmailController</servlet-name>
        <url-pattern>/VerifyGmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAccountController</servlet-name>
        <url-pattern>/VerifyAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHistoryController</servlet-name>
        <url-pattern>/GetHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRequestController</servlet-name>
        <url-pattern>/EditRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRequestController</servlet-name>
        <url-pattern>/DeleteRequestController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
